doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // title
    // favicon
    // description
    link(rel='stylesheet' href='style.css')
    block title
      title Hello world
  body
    block body
      div Hello world
